img {
    max-width: 100%;
    max-height: 100%;
}
.pricing-table-title{
	text-align: center;
}
.clearfix:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	clear: both;
}

.pricing-table {
	margin: 0 10px;
	text-align: center;
	width: 300px;
	float: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.pricing-table:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}

.pricing-title {
	color:  rgba(250, 30, 30, 1);
	border: 1px solid rgba(250, 30, 30, 1);
	box-shadow: 0 5px 15px 0px rgba(250, 30, 30, 0.5);
	padding: 20px 0;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table .price {
	background-size: cover; /* масштабирует изображение так, чтобы оно полностью покрывало контейнер */
    background-position: center; /* выравнивает изображение по центру */
	background: #403e3d;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	overflow: hidden;
}

.pricing-table .price sup {
	font-size: 0.4em;
	position: relative;
	left: 5px;
}

 @media only screen and (min-width: 768px) and (max-width: 959px) {

 	.pricing-table {
 		width: 236px;
 	}
 }

 @media only screen and (max-width: 767px) {

 	.pricing-table {
 		display: block;
 		float: none;
 		margin: 0 0 20px 0;
 		width: 100%;
 	}
 }

@media only screen and (max-width: 479px) {

}