body,
html {
	background: #111;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
}

h1 {
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;
}
h2{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
p {
	font-size: 14px;
	font-weight: light;
	color: #fff;
}

span a {
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&:hover {
		color: #ffffff;
	}
}
		/* ///////// INDEX ///////// */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container_price{
	border: 1px solid rgba(250, 30, 30, 1);
	padding: 2rem;
	width: fit-content;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0px rgba(250, 30, 30, 0.5);
}
.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 55, 55, 1.0);
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(250, 30, 30, 0.5);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.suppoprt-me {
	display: inline-block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 20vw;
	max-width: 250px;
	min-width: 200px;
	z-index: 9;
	img {
		width: 100%;
		height: auto;
	}
}
		/* ///////// social ///////// */
.btn a{
	width: 100%;
    position: relative;
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 25px;
    color: rgba(255, 55, 55, 1.0);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    border: 1px solid rgba(255, 55, 55, 1.0);
}
.btn a:hover{
  	background:rgba(255, 55, 55, 1.0);
    color: white;
	box-shadow: 0 0px 15px 0px rgba(250, 30, 30, 0.5);
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0001);
}